.showFields {
    position: relative;
    display: inline-block;
    z-index: 99999;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding:5px
    
}

.showFields-submit {
    position: relative;
    display: inline-block;
    z-index: 99999;
    border-radius: 10px;
    background-color: red;
}


.showFields-submit::before {
    content: '➔'; /* You can replace this with an arrow icon */
    position: absolute;
    top: 0%; /* Adjust as needed to position the arrow */
    left: -30%;
    transform: translateX(-50%);
    font-size: 24px; /* Adjust the size of the arrow */
    animation: scale .7s infinite alternate; /* Animation for scaling */
    color: white; /* Adjust color */
}

.default{
  
    width: 100%;
}



@keyframes scale {
    0% {
        transform: translateX(-50%) scale(1);
    }
    100% {
        transform: translateX(-50%) scale(1.5); /* Scale up */
    }
}