.showFields-clinic {
    position: relative;
    display: inline-block;
    z-index: 99999;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding:5px
    
}

.showFields-submit-clinic {
    position: relative;
    z-index: 99999;
    border-radius: 10px;
    margin-left: 10px;
} 


.showFields-submit-clinic::before {
    content: '➔'; /* You can replace this with an arrow icon */
    position: absolute;
    margin-left:-35px;
    font-size: 30px; /* Adjust the size of the arrow */
    animation: scale .7s infinite alternate; /* Animation for scaling */
    color: white; /* Adjust color */
    margin-top: -10px;
    
  

}

.default{
  
    width: 100%;
}



@keyframes scale {
    0% {
        transform: translateX(-50%) scale(1);
    }
    100% {
        transform: translateX(-50%) scale(1.5); /* Scale up */
    }
}