.showFields-education {
    position: relative;
    display: inline-block;
    z-index: 99999;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    
}

.showFields-esig-education{
    position: relative;
    display: inline-block;
    z-index: 99999;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding:15px;
    
}

.showFields-esig-write-education{
    position: relative;
    display: inline-block;
    z-index: 99999;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding:15px;
    margin-top:50px;
    height:auto
    
}
@media screen and (max-width:400px){
    .showFields-esig-write-education{
        position: relative;
        display: inline-block;
        z-index: 99999;
        background-color: white;
        border-radius: 10px;
        width: 100%;
        padding:15px;
        margin-top:50px;
        height:auto;


        
    }
}   

.showFields-esig-upload-education{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding:15px;
    margin-top:50px;
    height:auto
    
}


.showFields-submit-education {
    position: relative;
    display: inline-block;
    z-index: 99999;
    border-radius: 10px;
    padding:20px;
    
}

.showFields-submit-edit-education {
    position: relative;
    z-index: 99999;
    border-radius: 10px;
    padding:20px;
   width:80px;
    right:5px;
    padding-top: 5px;
    display:'flex';
    justify-content: flex-end;
}

.showFields-submit-profile-education {
    position: relative;
    display: inline-block;
    z-index: 99999;
    border-radius: 10px;
    padding:20px;
    
}

.showFields-submit-profile-education::before {
    content: '➔'; /* You can replace this with an arrow icon */
    position: absolute;
    top: 20%; /* Adjust as needed to position the arrow */
    left: -10%;
    transform: translateX(-50%);
    font-size: 24px; /* Adjust the size of the arrow */
    animation: scale .7s infinite alternate; /* Animation for scaling */
    color: white; /* Adjust color */
}

.showFields-submit-education::before {
    content: '➔'; /* You can replace this with an arrow icon */
    position: absolute;
    top: 20%; /* Adjust as needed to position the arrow */
    left:-10%;
    transform: translateX(-50%);
    font-size: 24px; /* Adjust the size of the arrow */
    animation: scale .7s infinite alternate; /* Animation for scaling */
    color: white; /* Adjust color */
}

.showFields-submit-edit-education::before {
    content: '➔'; /* You can replace this with an arrow icon */
    position: absolute;
    top: 0%; /* Adjust as needed to position the arrow */
    left: -30%;
    transform: translateX(-50%);
    font-size: 24px; /* Adjust the size of the arrow */
    animation: scale .7s infinite alternate; /* Animation for scaling */
    color: green; /* Adjust color */
}

.default{
  
    width: 100%;
}



@keyframes scale {
    0% {
        transform: translateX(-50%) scale(1);
    }
    100% {
        transform: translateX(-50%) scale(1.5); /* Scale up */
    }
}